/*
	CORE STYLE
*/

html{
	background: #000;
	color: #eee;
}
html,body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:1em;
  min-height: 100vh;
  margin: 0;
  padding-top: 1px;
  margin-top: -1px;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  color: inherit;
  text-decoration: none; /* no underline */
}
p {
  font-size: 1.25em;
}
p > a:link {
  color: rgb(112,146,190);
}
p > a:link:hover {
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
h1{
	font-weight:100;
  font-size: 3em;
}
h2{
	font-weight:300;
  font-size: 2.5em;
}
h3{
  font-size: 2em;
}
hr {
  border: none;
  border-bottom: white solid 1px;
}

/*
	CLASS TOOLS
*/

.dim{
	opacity: 0.75;
}
.hidden{
	display: none !important;
}
.text-center {
  text-align: center;
}
.text-skinny {
  font-weight: 300;
}
.flex-row, .flex-col {
  display: flex;
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.show-small, .show-med {
  display: none;
}
.x-scroller {
  display: block;
  overflow-x: auto;
}
.y-scroller {
  display: block;
  overflow-y: auto;
  overflow-y: overlay; /* TODO: replace with scrollbar-gutter when it's ready */
}

/*
	BUTTONS
*/
.btn{
	display: inline-block;
  font-size: 1.25em;
	padding: 0.5em;
	margin: 0 0.5rem 0.5rem 0;
	cursor: pointer;
  border: white solid 1px;
  border-radius: 0.5em;
	box-shadow: inset 0 0 0 1.1em rgba(255,255,255,0);
	transition: box-shadow 250ms;
}
.btn:hover{
	box-shadow: inset 0 0 0 1.1em rgba(255,255,255,0.25);
}

/*
	COLOURS
*/

.c-grey-bg{
	background:#727b88;
}
.c-grey{
	color:#727b88;
}
.c-mild-bg{
	background:#7295cd;
}
.c-mild{
	color:#7295cd;
}
.c-blue-bg{
	background:rgb(0,162,232);
}
.c-blue{
	color:rgb(0,162,232);
}
.c-purple-bg{
	background:rgb(163,73,164);
}
.c-purple{
	color:rgb(163,73,164);
}
.c-octocat-bg{
	background: #6e5494;
}
.c-octocat{
	color: #6e5494;
}
.c-blurple-bg{
	background: #7289da;
}
.c-blurple{
	color: #7289da;
}
.c-gmail-bg{
	background: #ea4335;
}
.c-gmail{
	color: #ea4335;
}

/*
  CUSTOM SCROLLBAR
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/*
  CONTENT
*/
.main{
  display: flex;
  flex-direction: column;
	position: relative;
	height: calc(100vh - 3.7em);
  width: calc(100vw - 1em);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  max-width: 96em;
  align-self: center;
  background: rgb(15, 15, 15);
  margin: 1em 1em 0.8em 1em;
  border-radius: 1em;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(112, 146, 190) linear-gradient(90deg, rgb(0, 68, 97), rgb(88, 38, 88));
  /* border-bottom: white solid 1px; */
}
nav > .nav-item {
  font-size: 1.25rem;
  padding: 0.75rem;
  margin: 0.2rem;
}
nav > .nav-item:link {
  background: rgba(255, 255, 255, 0);
  border-radius: 0.8rem;
  transition: background 0.25s ease;
}
nav > .nav-item:link:hover {
  background:rgba(255, 255, 255, 0.25);
}
nav > .nav-item.active {
  font-weight: bold;
}

.pfp {
  border-radius: 1em;
  width: 12em;
  height: auto;
  margin-bottom: 1em;
}

article, section {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.hero {
  position: relative;
  box-sizing: border-box;
  min-height: 712px;
  max-height: calc(100vh - 5.5em);
}
.hero > .hero-bg {
  position: absolute;
  top: 0;
  bottom: -0.5em;
  left: 0;
  right: 0;
  overflow: hidden;
}
.hero-bg > video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
.hero > *:not(.hero-bg) {
  z-index: 1;
}

.carousel {
  display: flex;
  flex-direction: row;
  border-radius: 0.9em;
}
.carousel > * {
  position: relative;
  display: block;
  width: 20vw;
  min-width: 12em;
  max-width: 18em;
  height: 20vh;
  min-height: 9em;
  max-height: 18em;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
}
.carousel > *:not(:last-child) {
  margin-right: 1em;
}
.carousel.carousel-end-promo > *:last-child {
  display: block;
  max-width: unset;
  flex-grow: 1;
}
.carousel .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.8em;
  padding: 0.8em;
  color: #fff;
  background: rgba(0,0,0,0.75);
	box-shadow: rgba(0,0,0,0.25) 0.25rem 0.25rem 0.5rem 0;
  border-radius: 0.8em;
  transition: color ease 0.25s, background ease 0.25s;
}
.carousel > a:hover > .info {
  color: #000;
  background: rgba(255, 255, 255, 0.75);
}

.credits {
  margin-bottom: 0.8em;
}


@media screen and (max-width: 64em) {
  .main {
    margin: 1em 0.5em 0.8em 0.5em;
  }
  .hide-med {
    display: none;
  }
  .show-med {
    display: unset;
  }
}

@media screen and (max-width: 48em) {
  nav, .flex-row {
    justify-content: center;
  }
  .hide-small {
    display: none;
  }
  .show-small {
    display: unset;
  }
}